@import 'tailwindcss';

.btn-login-utama {
    width: 100%;
    background-color: #0A1628;
    color: white;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.75rem;
    transition: background-color 0.3s ease;
}

.btn-login-utama:hover {
    background-color: #1e293b; 
}
